@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-react";
@import "@fontsource/lexend";
@import "tw-animate-css";
@import "./shadcn.css";

/* inQbeta Theme */
[data-theme='inQbeta'] {
	--text-scaling: 1;
	--typo-base--font-family: system-ui, sans-serif;
	--typo-base--font-size: inherit;
	--typo-base--color-light: var(--color-tertiary-950);
	--typo-base--color-dark: var(--color-tertiary-50);
	--typo-base--line-height: inherit;
	--typo-base--font-weight: normal;
	--typo-base--font-style: normal;
	--typo-base--letter-spacing: 0em;
	--typo-base--font-stretch: inherit;
	--typo-base--font-kerning: inherit;
	--typo-base--text-shadow: inherit;
	--typo-base--word-spacing: inherit;
	--typo-base--hyphens: inherit;
	--typo-base--text-transform: inherit;
	--typo-heading--font-family: inherit;
	--typo-heading--color-light: var(--color-secondary-500);
	--typo-heading--color-dark: var(--color-secondary-500);
	--typo-heading--font-weight: bold;
	--typo-heading--font-style: normal;
	--typo-heading--letter-spacing: inherit;
	--typo-heading--font-stretch: inherit;
	--typo-heading--font-kerning: inherit;
	--typo-heading--text-shadow: inherit;
	--typo-heading--word-spacing: inherit;
	--typo-heading--hyphens: inherit;
	--typo-heading--text-transform: inherit;
	--typo-anchor--font-family: 'Lexend', sans-serif;
	--typo-anchor--font-size: inherit;
	--typo-anchor--color-light: var(--color-primary-500);
	--typo-anchor--color-dark: var(--color-primary-500);
	--typo-anchor--line-height: inherit;
	--typo-anchor--font-weight: 300;
	--typo-anchor--font-style: inherit;
	--typo-anchor--letter-spacing: inherit;
	--typo-anchor--font-stretch: inherit;
	--typo-anchor--font-kerning: inherit;
	--typo-anchor--text-shadow: inherit;
	--typo-anchor--word-spacing: inherit;
	--typo-anchor--hyphens: inherit;
	--typo-anchor--text-transform: inherit;
	--typo-anchor--text-decoration-line: none;
	--typo-anchor--text-decoration-color: inherit;
	--typo-anchor--text-decoration-style: inherit;
	--typo-anchor--text-decoration-thickness: inherit;
	--typo-anchor--text-underline-offset: inherit;
	--typo-anchor--text-underline-position: inherit;
	--typo-anchor--hover--text-decoration-line: none;
	--typo-anchor--hover--text-decoration-color: inherit;
	--typo-anchor--hover--text-decoration-style: inherit;
	--typo-anchor--hover--text-decoration-thickness: inherit;
	--typo-anchor--hover--text-underline-offset: inherit;
	--typo-anchor--hover--text-underline-position: inherit;
	--typo-anchor--active--text-decoration-line: none;
	--typo-anchor--active--text-decoration-color: inherit;
	--typo-anchor--active--text-decoration-style: inherit;
	--typo-anchor--active--text-decoration-thickness: inherit;
	--typo-anchor--active--text-underline-offset: inherit;
	--typo-anchor--active--text-underline-position: inherit;
	--typo-anchor--focus--text-decoration-line: none;
	--typo-anchor--focus--text-decoration-color: inherit;
	--typo-anchor--focus--text-decoration-style: inherit;
	--typo-anchor--focus--text-decoration-thickness: inherit;
	--typo-anchor--focus--text-underline-offset: inherit;
	--typo-anchor--focus--text-underline-position: inherit;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.25rem;
	--default-border-width: 2px;
	--default-ring-width: 2px;
	--default-outline-width: 2px;
	--corner-shape-base: scoop;
	--corner-shape-container: scoop;
	--color-root-bg-light: var(--color-surface-500);
	--color-root-bg-dark: var(--color-surface-700);
	--color-brand-light: var(--color-secondary-500);
	--color-brand-contrast-light: var(--color-secondary-contrast-500);
	--color-brand-dark: var(--color-secondary-500);
	--color-brand-contrast-dark: var(--color-secondary-contrast-500);
	--color-primary-50: oklch(88.26% 0.09 123.63deg);
	--color-primary-100: oklch(80.88% 0.09 124.02deg);
	--color-primary-200: oklch(73.35% 0.09 124.66deg);
	--color-primary-300: oklch(65.69% 0.09 124.53deg);
	--color-primary-400: oklch(57.76% 0.09 125.35deg);
	--color-primary-500: oklch(49.55% 0.09 126.18deg);
	--color-primary-600: oklch(42.58% 0.08 126.38deg);
	--color-primary-700: oklch(35.3% 0.06 126.42deg);
	--color-primary-800: oklch(27.64% 0.04 126.98deg);
	--color-primary-900: oklch(19.37% 0.03 127.68deg);
	--color-primary-950: oklch(7.34% 0.02 142.5deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(91.93% 0.12 93.43deg);
	--color-secondary-100: oklch(86.04% 0.13 85.69deg);
	--color-secondary-200: oklch(80.02% 0.13 77.6deg);
	--color-secondary-300: oklch(74.19% 0.14 70.46deg);
	--color-secondary-400: oklch(68.47% 0.15 62.04deg);
	--color-secondary-500: oklch(63.2% 0.16 53.63deg);
	--color-secondary-600: oklch(56.11% 0.15 49.69deg);
	--color-secondary-700: oklch(49.05% 0.14 44.91deg);
	--color-secondary-800: oklch(41.74% 0.13 39.85deg);
	--color-secondary-900: oklch(34.61% 0.12 34.5deg);
	--color-secondary-950: oklch(27.31% 0.11 29.23deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(76.99% 0 none);
	--color-tertiary-100: oklch(69.6% 0 none);
	--color-tertiary-200: oklch(62.34% 0 none);
	--color-tertiary-300: oklch(54.52% 0 none);
	--color-tertiary-400: oklch(46.76% 0 none);
	--color-tertiary-500: oklch(38.29% 0 none);
	--color-tertiary-600: oklch(33.29% 0 none);
	--color-tertiary-700: oklch(27.68% 0 none);
	--color-tertiary-800: oklch(22.21% 0 none);
	--color-tertiary-900: oklch(15.91% 0 none);
	--color-tertiary-950: oklch(0% 0 none);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(88.26% 0.09 123.63deg);
	--color-success-100: oklch(80.88% 0.09 124.02deg);
	--color-success-200: oklch(73.35% 0.09 124.66deg);
	--color-success-300: oklch(65.69% 0.09 124.53deg);
	--color-success-400: oklch(57.76% 0.09 125.35deg);
	--color-success-500: oklch(49.55% 0.09 126.18deg);
	--color-success-600: oklch(42.58% 0.08 126.38deg);
	--color-success-700: oklch(35.3% 0.06 126.42deg);
	--color-success-800: oklch(27.64% 0.04 126.98deg);
	--color-success-900: oklch(19.37% 0.03 127.68deg);
	--color-success-950: oklch(7.34% 0.02 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-light);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(95.67% 0.05 84.56deg);
	--color-warning-100: oklch(92.83% 0.06 82.16deg);
	--color-warning-200: oklch(90.12% 0.08 80.33deg);
	--color-warning-300: oklch(87.59% 0.1 80.01deg);
	--color-warning-400: oklch(85.03% 0.12 78.35deg);
	--color-warning-500: oklch(82.46% 0.14 76.71deg);
	--color-warning-600: oklch(76.34% 0.13 72.25deg);
	--color-warning-700: oklch(70.34% 0.13 68.09deg);
	--color-warning-800: oklch(63.99% 0.13 63.18deg);
	--color-warning-900: oklch(57.91% 0.13 57.97deg);
	--color-warning-950: oklch(51.69% 0.13 51.44deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(83.49% 0.07 19.81deg);
	--color-error-200: oklch(77.4% 0.11 21.98deg);
	--color-error-300: oklch(72.13% 0.15 24.9deg);
	--color-error-400: oklch(67.39% 0.19 26.71deg);
	--color-error-500: oklch(63.72% 0.22 28.71deg);
	--color-error-600: oklch(59.28% 0.21 28.53deg);
	--color-error-700: oklch(54.92% 0.2 28.58deg);
	--color-error-800: oklch(50.51% 0.19 28.72deg);
	--color-error-900: oklch(46.22% 0.18 28.88deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(99.19% 0 286.64deg);
	--color-surface-200: oklch(98.47% 0.01 264.61deg);
	--color-surface-300: oklch(97.66% 0.01 273.44deg);
	--color-surface-400: oklch(96.94% 0.01 264.55deg);
	--color-surface-500: oklch(96.13% 0.02 270.02deg);
	--color-surface-600: oklch(88.82% 0.01 268.52deg);
	--color-surface-700: oklch(81.19% 0.02 273.85deg);
	--color-surface-800: oklch(73.47% 0.02 268.47deg);
	--color-surface-900: oklch(65.44% 0.02 273.76deg);
	--color-surface-950: oklch(57.35% 0.02 272.57deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-dark);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
}
